******* BASE *********
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(https://c4.wallpaperflare.com/wallpaper/1022/811/737/3-316-16-9-aspect-ratio-s-sfw-wallpaper-preview.jpg);
  height: 100vh;
}
